.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 200px);
    gap: 3px;
}
img{
    width: 100%; 
     height: 100%;
}
.big-layout{
    grid-column: span 6;
    grid-row: span 2;
}
.normal-layout{
    grid-column: span 2;
    grid-row: span 2;
}
.wide-layout{
    grid-column: span 2;
    grid-row: span 1;
}
.small-layout{
    grid-column: span 1;
    grid-row: span 1;
}

@media  screen and (max-width: 576px) {
    .container{
        display: block;
    } 
    
}

@media screen and (min-width: 577px) and (max-width: 764px){
    .container{
        display: grid;
        gap: 3px;
        grid-template-columns: repeat(2, 1fr);
    }
    .big-layout, .normal-layout, .wide-layout, .small-layout{
        grid-column: span 1;
        grid-row: span 1;
    }
}